PORT=4500
NODE_ENV=development

POSTGRES_USER=hr_user
POSTGRES_PASSWORD=CHANGE_ME
POSTGRES_DB=hr_management_system

DATABASE_URL=postgresql://hr_user:CHANGE_ME@localhost:5432/hr_management_system?schema=public

JWT_REFRESH_SECRET=CHANGE_ME_REFRESH
JWT_ACCESS_SECRET=CHANGE_ME_ACCESS